.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--spacing-small) 0;
}

.pagination-list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.pagination-info {
  margin-left: var(--spacing-small);
  font-size: var(--font-size-xxsmall);
  color: var(--color-black);
}
