header {
  grid-row: 1/2;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 1rem;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-auto-flow: column;
  height: max-content;
}

nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--spacing-small);
}

nav a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.3s ease;
  border-radius: var(--border-radius-small);
}

nav a.active,
nav a.router-link-active {
  color: var(--color-secondary);
}
