.geo-form-container {
  display: grid;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);
  background: var(--color-background);
  border-radius: var(--border-radius-large);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-medium);
}

.form-section h3 {
  grid-column: 1 / -1;
}

.form-section--static {
  background: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius-large);
  padding: var(--spacing-small);
}

.form-actions-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1.5rem;
}


@media (max-width: 700px) {
  .form-section {
    grid-template-columns: 1fr;
  }
}
