<div class="geo-form-container">
  <h2>{{ isEditMode ? 'Edit Data' : 'Add Data' }}</h2>
  <form [formGroup]="formPageService.form" (ngSubmit)="formPageService.submit(endpointService)">
    <div class="form-section form-section--static">
      <h3>Address</h3>
      <app-text-input
        label="Openbareruimte"
        formControlName="openbareruimte"
        [required]="true"
      ></app-text-input>
      <app-text-input
        label="Huisnummer"
        formControlName="huisnummer"
        [required]="true"
        [type]="'number'"
      ></app-text-input>
      <app-text-input
        label="Huisletter"
        formControlName="huisletter"
      ></app-text-input>
      <app-text-input
        label="Huisnummertoevoeging"
        formControlName="huisnummertoevoeging"
        [type]="'number'"
      ></app-text-input>
      <app-text-input
        label="Postcode"
        formControlName="postcode"
        [required]="true"
      ></app-text-input>
      <app-text-input
        label="Woonplaats"
        formControlName="woonplaats"
        [required]="true"
      ></app-text-input>
      <app-text-input
        label="Gemeente"
        formControlName="gemeente"
      ></app-text-input>
      <app-text-input
        label="Provincie"
        formControlName="provincie"
      ></app-text-input>
    </div>
    <app-accordion title="Object Information">
      <div class="form-section">
        <app-text-input
          label="Nummeraanduiding"
          formControlName="nummeraanduiding"
        ></app-text-input>
        <app-text-input
          label="Verblijfsobjectgebruiksdoel"
          formControlName="verblijfsobjectgebruiksdoel"
        ></app-text-input>
        <app-text-input
          label="Oppervlakte verblijfsobject"
          formControlName="oppervlakteverblijfsobject"
          [type]="'number'"
        ></app-text-input>
        <app-text-input
          label="Verblijfsobjectstatus"
          formControlName="verblijfsobjectstatus"
        ></app-text-input>
        <app-text-input
          label="Object ID"
          formControlName="objectId"
        ></app-text-input>
        <app-text-input
          label="Object type"
          formControlName="objectType"
        ></app-text-input>
        <app-text-input
          label="Nevenadres"
          formControlName="nevenadres"
        ></app-text-input>
      </div>
    </app-accordion>
    <app-accordion title="Building Information">
      <div class="form-section">
        <app-text-input
          label="Pandid"
          formControlName="pandid"
        ></app-text-input>
        <app-text-input
          label="Pandstatus"
          formControlName="pandstatus"
        ></app-text-input>
        <app-text-input
          label="Pandbouwjaar"
          formControlName="pandbouwjaar"
          [type]="'number'"
        ></app-text-input>
      </div>
    </app-accordion>
    <app-accordion title="Location">
      <div class="form-section">
        <app-text-input label="X" formControlName="x" [type]="'number'"></app-text-input>
        <app-text-input label="Y" formControlName="y" [type]="'number'"></app-text-input>
        <app-text-input label="Lon" formControlName="lon" [type]="'number'"></app-text-input>
        <app-text-input label="Lat" formControlName="lat" [type]="'number'"></app-text-input>
      </div>
    </app-accordion>
    <div class="form-actions-row">
      <app-button label="Submit" type="submit"></app-button>
      <app-button *ngIf="isEditMode" label="Delete" type="button" (click)="onDelete()"
        [customStyles]="{ background: 'var(--color-red)', color: 'var(--color-white)' }"
      ></app-button>
    </div>
  </form>
</div>
