.geo-form-container {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background: #f4f4f4;
  border-radius: 8px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
}

@media (max-width: 700px) {
  form {
    grid-template-columns: 1fr;
  }
}
