.pagination-nav-btn {
  background: none;
  border: none;
  font-size: var(--font-size-xxsmall);
  padding: 0.5em 1em;
  cursor: pointer;
  color: inherit;
  transition: background 0.2s;
}
.pagination-nav-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
