.pagination-page-btn {
  border: 1px solid var(--color-grey);
  border-radius: 3px;
  font-size: var(--font-size-xxsmall);
  padding: 0.5rem var(--spacing-small);
  margin: 0 2px;
  cursor: pointer;
  color: inherit;
  transition: all border-color 0.2s;
}
.pagination-page-btn.active {
  background:  var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.pagination-page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
