.geo-list-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-large);
  overflow-x: visible;
}

.geo-table {
  display: grid;
  border-radius: var(--border-radius-large);
  padding: var(--spacing-small);
  min-height: 200px;
}

.geo-list-h2{
  margin-bottom: var(--spacing-small);
}