<div class="table-scroll-wrapper">
  <table class="table-container" role="table">
    <thead>
      <tr class="table-header" role="row">
        <th class="table-cell" *ngFor="let col of columns" (click)="col.sortable ? onSort(col) : null" [class.sortable]="col.sortable" [style.cursor]="col.sortable ? 'pointer' : 'default'" scope="col" role="columnheader" tabindex="0">
          <span class="header-flex">
            <span>{{ col.label }}</span>
            <span class="sort-icon" *ngIf="col.sortable">
              <ng-container *ngIf="sortField === col.id.toString(); else unsorted">
                <span *ngIf="sortState.direction === 0">▲</span>
                <span *ngIf="sortState.direction === 1">▼</span>
              </ng-container>
              <ng-template #unsorted>
                <span class="sortable-indicator">⇅</span>
              </ng-template>
            </span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
  <tr class="table-row" *ngFor="let row of data; trackBy: trackById" (click)="onRowClick(row)" style="cursor:pointer" role="row" tabindex="0">
        <td class="table-cell" *ngFor="let col of columns" role="cell">
          <ng-container *ngIf="col.id !== 'actions'; else actionsCell">
            {{ getCellValue(row, col.id) }}
          </ng-container>
          <ng-template #actionsCell>
            <button type="button">Actie</button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
