<div class="container" *ngIf="label; else noLabel">
  <label [for]="label" class="label">
    {{ label }}
    <span *ngIf="required" class="requiredIndicator">*</span>
  </label>
  <input
    id="textInput"
    [required]="required"
    [type]="type"
    [value]="value"
    (input)="onInput($event)"
    [placeholder]="placeholder"
    class="textInput"
    [attr.aria-invalid]="!!error"
    [readonly]="readonly"
    [attr.aria-describedby]="error ? 'error-message' : null"
    [attr.maxLength]="maxLength"
  />
  <!-- <app-error-message *ngIf="error" id="error-message" [message]="error"></app-error-message> -->
</div>
<ng-template #noLabel>
  <input
    id="textInput"
    [required]="required"
    [type]="type"
    [value]="value"
    (input)="onInput($event)"
    [placeholder]="placeholder"
    class="textInput"
    [attr.aria-invalid]="!!error"
    [readonly]="readonly"
    [attr.aria-describedby]="error ? 'error-message' : null"
    [attr.maxLength]="maxLength"
  />
</ng-template>
