.table-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  max-width: 100vw;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius-large);
  background: var(--color-form-field);
}

.table-header {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  font-size: var(--font-size-small);
}

.table-cell,
th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  text-align: left;
  font-size: var(--font-size-xsmall);
}

th {
  background: var(--color-primary);
  color: var(--color-white);
}

th:last-child,
td:last-child {
  border-right: none;
}

.header-flex {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
}

.sort-icon {
  width: 1em;
  display: inline-block;
  text-align: center;
}

.sortable {
  user-select: none;
}

.sortable-indicator {
  font-size: 1em;
  color: var(--color-white);
  opacity: 0.7;
  margin-left: 0.2em;
}

.sort-icon span {
  display: inline-block;
  min-width: 1em;
  text-align: center;
}

.table-row:nth-child(even) {
  background: var(--color-grey);
}

.table-row {
  background: var(--color-white);
  transition: background 0.2s, color 0.2s;
}

.table-row:hover {
  background: var(--color-form-field);
  color: var(--color-text);
}
